{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class=" alert alert-primary mb-3">
                Vous etes connecté tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}




        <head>
            <title>Login Page</title>


        </head>
        <body>
        <div class="container p-5">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Se connecter</h3>

                    </div>

                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2"  placeholder="email" required autofocus>

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="Mot de passe" required>
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn float-right mt-3">Me connecter</button>

                            </div>

                            <div class="checkbox m-3 text-center">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>

                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center ">
                            Vous n'avez pas de compte? <br>

                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{path('app_register')}}"> S'enregistrer</a>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </div>
        </body>




    </form>
{% endblock %}


{#
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{#
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
#}