{#
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('images/caroussel/car1.jpeg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/caroussel/car2.jpeg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/caroussel/car3.jpeg') }}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
#}

<!-- Header-->
<header class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-dark mb-2">Nous voulons vous faciliter la vie</h1>
                    <p class="lead fw-normal text-dark-50 mb-4"> Pour un été en toute sérénité, Je réserve ma voiture dès maintenant.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-outline-warning btn-lg px-4 me-sm-3" href="#voitures">Voitures</a>
                        <a class="btn btn-outline-warning btn-lg px-4" href="#utilitaires">Utilitaires</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">

                            <img src="{{ asset('images/caroussel/car.JPEG') }}" class="d-block w-100" alt="...">

            </div>
        </div>
    </div>
</header>

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div id="voitures" class="text-center mb-5">
            <h1 class="fw-bolder text-warning">Voitures</h1>
            <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
        </div>
        <div class="row gx-5">
            {% for car in cars %}
            {% if ( car.type == 'Voiture') %}
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    {% if car.image.name is defined %}
                        <img class="img-fluid rounded-3 mb-3" src="{{ asset('images/cars/') ~ car.image.name }}" alt="..." />
                    {% else %}
                        <p>Pas d'images</p>
                    {% endif %}
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">{{ car.name }}</a>
                </div>
            </div>
            {% endif%}
            {% endfor %}
        </div>
        <div id="utilitaires" class="text-center mb-5">
            <h1 class="fw-bolder text-warning">Utilitaire</h1>
            <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
        </div>
        <div class="row gx-5">
            {% for car in cars %}
                {% if (car.type == 'Utilitaire') %}
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">{{ car.name }}</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
        <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
    </div>
</section>
