
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{{ path('dashboard') }}">Rent a Car</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link " href="{{ path('dashboard') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link " href="{{ path('dashboard') }}">Voitures</a></li>
                <li class="nav-item"><a class="nav-link " href="{{ path('dashboard') }}">Utilitaires</a></li>
                <li class="nav-item"><a class="nav-link " href="{{ path('dashboard') }}">Nos services</a></li>
                <li class="nav-item"><a class="nav-link " href="{{ path('dashboard') }}">FAQ</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.firstname }}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                            <li><a class="dropdown-item" href="{{ path('admin') }}">Espace Admin</a></li>
                            <li><a class="dropdown-item" href="">Mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('car_add') }}">Ajouter une voiture</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                        </ul>
                    </li>
                {% elseif is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.firstname }}</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="">Mon compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('user_cars') }}">Mes véhicules</a></li>
                        <li><a class="dropdown-item" href="{{ path('car_add') }}">Ajouter une voiture</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('IS_ANONYMOUS') %}
                    <li class="nav-item"><a class="nav-link "  href="{{ path('app_login') }}">Me connecter</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>