<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nous voulons vous faciliter la vie. Pour un été en toute sérénité, Je réserve ma voiture dès maintenant..">
    <meta name="author" content="">
    {% block header %}
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}" />
    <title>Espace Admin!</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1557232134/toasty.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="{{ asset ('css/sb-admin-2.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% block slide_bar %}
        <!-- Sidebar -->
        <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-grin-alt"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Rent a Car</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dashboard') }}">
                    <i class="fas fa-home"></i>
                    <span>Aller sur le site</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Espace Admin
            </div>


            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilisateurs" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-users"></i>
                    <span>Utilisateurs</span>
                </a>
                <div id="collapseUtilisateurs" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gérer les Utilisateurs</h6>
                        <a class="collapse-item" href="{{ path('admin_users') }}">Tous les utilisateurs</a>


                    </div>
                </div>
            </li>
            <!-- Nav Item - Products -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCommandes" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-car"></i>
                    <span>Véhicules</span>
                </a>
                <div id="collapseCommandes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gérer les Véhicules</h6>
                        <a class="collapse-item" href="{{ path('admin_cars') }}">Tous les véhicules</a>
                        <a class="collapse-item" href="{{ path('admin_voitures') }}">Voitures</a>
                        <a class="collapse-item" href="{{ path('admin_utilitaires') }}">Utilitaires</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

    {% endblock %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">



            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="container-fluid">
                {% block body %}

                {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        {% block footer %}
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Sehailia Takieddine</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        {% endblock %}
        <!-- End of Content Wrapper -->
    </div>
</div>
</body>

<!-- Bootstrap core JavaScript-->
<script src="{{ asset ('js/jquery.min.js') }}"></script>
<script src="{{asset ('js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{asset ('js/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset ('js/sb-admin-2.min.js') }}"></script>

<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1557232134/toasty.js"></script>

{% block javascripts %}

{% endblock %}

</html>
